
<!-- <p> Welcome </p> -->
<nav>
    <a href="#user"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAABEUlEQVRIie3UMUoDYRDF8Z8psqUpLBRrBS+gx7ATD6E5iSjeQQ/gJUzEwmChnZZaKZiQ0ljsLkhQM5/5Agr74DX7DfOfgZ1Hoz+qAl30Marcx2H1thCtY4DJN76parKqmAH9DM+6eTcArX2QE3yVAO7lBA8TwMNIw6UgeJI46My+rWCjUQL0LVIUBd8lgEO1UfBZAvg8oXamCuWNRu64nRNMmUo/wReSXLXayoDoKc9miMvqW/ZNG2VRNLla2MYudrCFTvX2intlnl/gGu/zDraGYzyLZ/UTjrD6G2AHpxgnAKc9xgmWo9BNPM4BnPYDNiLg24zQ2oNpyFdZvRKZLlGhnvvKPzXXti/Yy7hEo3+iD9EHtgdqxQnwAAAAAElFTkSuQmCC"></a>
    <a href="#second"></a>
    <a href="#third"></a>
    <a href="/logout"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAAsklEQVRIie2WMQ7CMAxFH70DiF6FlYVybEYKCwzsDRNnQCoDjYTaqqROYiTkL3mIlfxnRXESMP1Ie8ABrTAcUEnAMVAfTQho0Ru3kmoDfAcqEoFmy8B/BT4AJ2A1NSm2lXx86tjlrlPwHOAlcOnyN6DUAgfBQ0w3YxXP9KklhyvLgdTa6rUG+Cs0F7hmpJ00LpAncAa2wMMn7Vk0sBr4nsDTSRZVvH+J0v5tgF1k4aa0egGdNMkISBZ3YAAAAABJRU5ErkJggg=="></a>
  </nav>
 <div class= 'container'> 
   <section id= 'user'>
    <ul>
     <li><h3>Avatar: </h3><img src="https://www.gravatar.com/avatar/<%= user.emailmd5 %>>?d=retro"></img></li> 
     <li><h3>Username: </h3><h4><%= user.name %></h4></li>
     <li><h3>User email: </h3><h4><%= user.email %></h4></li>
     <li><h3>Date of creation: </h3><h4><%= user.date %></h4></li>
    </ul>
   </section>
   
   <section id= 'second'>
   </section>
   
  <section id= 'third'>
   </section>
   
  <section id= 'logout'>
    <h1>Logout</h1>
   </section>
   <div id="clock">
    <iframe src="https://free.timeanddate.com/clock/i8g0tfxd/n1474/fn6/fs16/fc0ff/tct/pct/ftb/bas2/bat1/bacfff/pa8/tt0/tw1/th1/ta1/tb4" frameborder="0" width="500" height="60" allowtransparency="true"></iframe>
  </div>
 </div>

