<%- include ('./partials/messages') %>
<div class="form" style="height: 400px;">
  <div class="title">Welcome</div>
  <div class="subtitle">Please login!</div>
  <form action="/users/login" method="POST">
  <div class="input-container ic2">
    <input class="text-box" type="email" name="email" placeholder="Enter Email"/>
    <div class="cut cut-short"></div>
  </div>
  <div class="input-container ic2">
    <input class="text-box" type="password" name="password" placeholder="Enter Password"/>
    <div class="cut cut-short"></div>
  </div>
  <button type="text" class="submit">submit</button>
</form>
</div>