  <div class="form" style="height:250px">
    <div id="welcome-container">
      <div class="title">Welcome</div>
      <div class="subtitle">Santosubito login system</div>
      <p>Create an account or login</p>
    
      <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
      <a href="/users/login"> Login</a>
    </div>
  </div>