<html>
<div class="form" style="height: 115px;">
<h1>Welcome to santosubito.xyz login system.</h1>
<p>Create an account or login</p>
<a href="/users/register" class="btn btn-primary btn-block mb-2"
  >Register</a>
  <a href="/users/login"> Login</a></div>
</html>